.avatar3d{

position:relative;

width:420px;

height:420px;

display:flex;

justify-content:center;

align-items:center;

}

.avatar-core{

width:230px;

height:230px;

border-radius:50%;

background:#111;

border:3px solid #ff7b00;

display:flex;

justify-content:center;

align-items:center;

font-size:4rem;

font-weight:bold;

color:white;

z-index:5;

box-shadow:0 0 60px rgba(255,123,0,.35);

}

.ring{

position:absolute;

border-radius:50%;

border:2px solid rgba(255,123,0,.3);

animation:rotateRing linear infinite;

}

.ring1{

width:320px;

height:320px;

animation-duration:12s;

}

.ring2{

width:380px;

height:380px;

animation-duration:18s;

animation-direction:reverse;

}

@keyframes rotateRing{

from{

transform:rotate(0deg);

}

to{

transform:rotate(360deg);

}

}